PORT=8000
NODE_ENV=development

# Database Connection (Local Docker Postgres Container)
DATABASE_URL=postgres://postgres:password@localhost:5432/postgres

# Redis Connection (Local Redis)
REDIS_URL=redis://localhost:6379

# Groq API Configuration
GROQ_API_KEY=

# Better Auth Configuration 
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
# Google OAuth Client
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=